@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #093649;
  --main: #0f15a3;
  --accept: #1acc8d;
  --denied: #de1919;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --color-main: var(--main);
  --color-accept: var(--accept);
  --color-denied: var(--denied);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.card-form {
  background: var(--background);
  color: var(--foreground);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}